
.ipynb_checkpoints/app-checkpoint.py
.ipynb_checkpoints/script-checkpoint.js
COT5930_Project1/.idea/COT5930_Project1.iml
COT5930_Project1/.idea/inspectionProfiles/profiles_settings.xml
COT5930_Project1/.idea/inspectionProfiles/Project_Default.xml
COT5930_Project1/.idea/misc.xml
COT5930_Project1/.idea/modules.xml
COT5930_Project1/.idea/vcs.xml
